body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: rgb(80, 80, 80);
  background-color: rgb(255, 242, 240);
}
#main-header {
  background-color: rgb(254, 76, 0);
  color: rgb(255, 255, 255);
  padding: 2rem 5%;
  text-align: center;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: rgb(254, 76, 0);
  border: 1px solid rgb(254, 76, 0);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(212, 64, 0);
  border-color: rgb(212, 64, 0);
}
.btn-alt {
  background-color: rgb(255, 242, 240);
  border-color: rgb(255, 242, 240);
  color: rgb(254, 76, 0);
}
.btn-alt:hover {
  background-color: rgb(227, 214, 212);
  border-color: rgb(227, 214, 212);
}
