body {
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
#input-test {
  margin: 2rem;
  background-color: rgb(241, 222, 175);
  padding: 1rem 1rem;
  width: 40%;
  border-radius: 6px;
}
input {
  display: block;
  width: 40rem;
  height: 1.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 3px;
  outline: none;
  background-color: whitesmoke;
  border: 2px solid rgb(130, 120, 96);
  font-family: inherit;
  font-weight: bold;
}
#input-counter {
  display: flex;
}
#html-counter {
  display: flex;
}
button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 3px;
  color: whitesmoke;
  background-color: rgb(130, 120, 96);
  cursor: pointer;
  font-family: inherit;
}
input:focus {
  background-color: lightgreen;
}
button:hover {
  background-color: rgb(117, 103, 72);
}
input.clear {
  background-color: lightgreen;
  color: green;
}
input.attention {
  background-color: goldenrod;
  color: rgb(88, 66, 11);
}
input.warning {
  background-color: coral;
  color: red;
}
input.error{
  background-color: red;
  color: darkred;
}
#dynamic.warning {
  color: red;
}
#dynamic.attention {
  color: rgb(176, 83, 49);
}
#dynamic.clear {
  color: green;
}
#dynamic.error{
  color: darkred;
}
#btn-sep {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
#dynamic{
  font-size: 2rem;
  position: relative;
  bottom: 1rem
}

