header h1{
  font-size: 4em;
    color: rgb(110, 79, 43);
    text-shadow: rgb(116, 115, 115) 5px 3px 10px;
}
header a{
  background-color: chocolate;
    color: aliceblue;
    border-radius: 5px;
    padding: 5px 20px;
}
main p{
  color: rgb(141, 124, 109)
}
main{
  width: 80%;
  margin: 100px auto 0 auto;
}
main ul{
  padding: 0;
}
main li{
  margin: 25px 0;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  list-style: none;
  border-radius: 5px;
  padding: 5px 0;
}
main p{
  color: rgb(51, 1, 1);
  font-weight: 600;
}
footer{
  background-color:darkred;
  padding: 32px;
  margin: 0 -50px -50px -50px;
}
.wait{
  
  background-color: rgb(238, 153, 113);
}
.check-no-click{
  background-color: rgb(114, 214, 103);
}
.list{
  background-color: rgb(171, 231, 166);
}
.developing{
    background-color: rgb(231, 230, 166);
}
.list:hover{
  background-color: rgb(114, 214, 103);
}
.developing:hover{
  background-color: rgb(204, 193, 90);
}